.parent {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.child1 {
  width: 70%;
}

.child2 {
  width: auto;
}

.childImg {
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 991px) {
  .parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .child1,
  .child2 {
    width: 90%;
  }
  .child2 {
    text-align: center;
  }
  .childImg {
    width: 90%;
    height: 90%;
  }
}
