.filterChild1Div,
.filterChild2Div {
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.filterChild2Div {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0.5rem;
}

.filterChild2DivChild:hover {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  color: black;
}
.filterChild2DivChild {
  padding: 0.5rem;
}
