.carouselIcon {
  color: black;
  font-size: 40px;
  opacity: 0.6;
}

.carouselIcon:hover {
  opacity: 0.4;
}

.homePageFirstDiv {
  margin: 1rem;
}

.carouselImage {
  border-radius: 1.5rem;
}

.homePageMainCategory {
  padding: 1rem;
}

.homePageCategoryCardImage {
  border-radius: 1rem;
  object-fit: contain;
}

@media only screen and (max-width: 1199px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 991px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
  .homePageCategoryCardImage {
    width: auto;
    height: auto;
  }
}
@media only screen and (width: 768px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 767px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 575px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 540px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 490px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 450px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
@media only screen and (max-width: 390px) {
  .homePageFirstDiv {
    margin: 0rem;
  }
  .carouselImage {
    border-radius: 0.5rem;
  }
  .homePageMainCategory {
    padding: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1.1rem;
  }
}
