.mainFlex {
  flex-direction: row;
  padding: 2rem;
}

.flexDiv {
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .mainFlex {
    flex-direction: column;
    padding: 0.3rem;
  }
  .flexDiv {
    height: 130vh;
  }
}
