.child1,
.child2 {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.thumbImage {
  text-align: center;
  width: 100px;
  height: 100px;
  display: inline-block;
  object-fit: contain;
  border: 1px solid #ddd;
  margin-right: 5px;
  margin-bottom: 5px;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 5px;
  /* padding: 1px; */
}
.thumbImageActive {
  opacity: 1;
  border: 1px solid red;
}
.parent {
  margin-top: 1rem;
}
.parentFlex {
  flex-direction: row;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

@media screen and (max-width: 991px) {
  .child1,
  .child2 {
    display: block;
    width: 100%;
  }
  .parent {
    margin-top: 0.5rem;
  }
  .parentFlex {
    flex-direction: column;
    margin: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
  }
}
