.mainFlex {
  flex-direction: row;
  padding: 2rem;
}

.flexDiv {
  height: 100vh;
}
.secondDiv {
  flex-direction: row;
}

@media screen and (max-width: 991px) {
  .mainFlex {
    flex-direction: column;
    padding: 1rem;
  }
  .flexDiv {
    height: 160vh;
  }
  .secondDiv {
    flex-direction: column;
  }
}
