.productUpdate {
  justify-content: center;
  display: flex;
}

.productUpdateMainDiv {
  margin: 4rem;
  width: 23rem;
}

#productUpdateName {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

#productUpdateContent {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
#productUpdatePrice {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#productUpdateImageForm {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}
