.notProduct {
  font-size: 1.3rem;
  margin-top: 2rem;
  color: grey;
  font-weight: 600;
  font-family: cursive;
  text-align: center;
}

.btn {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 1199px) {
  .btn {
    margin-top: 6.8rem;
    margin-bottom: 6.8rem;
  }
}

@media screen and (max-width: 991px) {
  .notProduct {
    font-size: 1.2rem;
  }

  .btn {
    margin-top: 8.3rem;
    margin-bottom: 8.3rem;
  }
}
@media screen and (max-width: 767px) {
  .notProduct {
    font-size: 1.1rem;
  }
  .btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
